@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-top: 20px;
  background-color: var(--secondary-bg-color);
  width: 100%; /* Ensure main content takes full width */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(21, 46, 44, 0.95);
  /* Dark overlay */
  display: flex;
  flex-direction: column;
  /* Vertical stacking */
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-container {
  display: flex;
  flex-direction: column;
  /* Stack text and spinner vertically */
  align-items: center;
  /* Center align items */
}

.loading-text-and-dots {
  display: flex;
  flex-direction: row;
  /* Stack text and dots horizontally */
  align-items: center;
  /* Center align items */
  margin-bottom: 30px;
}

.loading-text {
  color: #FFF8ED;
  font-size: 32px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  /* Align text and dots vertically */
}

.loading-dots span {
  opacity: 0;
  /* Start with dots hidden */
  animation: blink-dot 1.5s infinite;
  color: #FFF8ED;
  font-size: 32px;
}

.loading-dots span:nth-child(1) {
  animation-delay: 0s;
}

.loading-dots span:nth-child(2) {
  animation-delay: 0.5s;
  /* Starts half a second later */
}

.loading-dots span:nth-child(3) {
  animation-delay: 1s;
  /* Starts one second later */
}

@keyframes blink-dot {

  0%,
  20%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.error-message {
  color: #ff0000;
  /* Red for error messages */
  font-size: 1em;
  margin-top: 10px;
}