:root {
  --primary-bg-color: #DCFFEC;
  --secondary-bg-color: #DCFFEC;
  --text-color: #141414;
  --primary-font: 'Roboto', sans-serif;
  --primary-link-color: #333333;
  --visited-link-color: #555555;
  --button-bg-color: #1a1a1a;
  --button-hover-border-color: #646cff;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure the body takes up the full height */
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* Ensure root spans the full height of the viewport */
#root {
  height: 100%;
}

/* Flexbox for app container to center content */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Make sure app content fills the screen */
}

/* Global link formatting */
a {
  color: #658E95;
  text-decoration: underline;
  font-weight: 400;
  transition: color 0.3s ease;
}

a:hover, a:active {
  color: #2F4858;
}